In [1]:
import pandas as pd  
import numpy as np

In [4]:
df = pd.read_csv('housing.csv', usecols = ['total_bedrooms' ,'population' , 'total_rooms'])

In [5]:
df.isnull().sum()

total_rooms         0
total_bedrooms    207
population          0
dtype: int64

In [6]:
df.sample(5)

       total_rooms  total_bedrooms  population
5522        1436.0           374.0       662.0
10035       2200.0           439.0      1045.0
7552        1260.0           299.0      1535.0
8746        4177.0           832.0      2123.0
20379       3380.0           731.0      1227.0