In [1]:
# import libraries 
import pandas as pd 
import numpy as np

In [9]:
# load or import dataset 
df = pd.read_csv('train.csv' , usecols = ['Age' ,'Survived','Fare'])

In [3]:
# Find the Percentage of Null Values
df.isnull().mean() * 100

Survived     0.000000
Age         19.865320
Fare         0.000000
Embarked     0.224467
dtype: float64

In [4]:
df.sample(6)

     Survived   Age      Fare Embarked
143         0  19.0    6.7500        Q
626         0  57.0   12.3500        Q
508         0  28.0   22.5250        S
842         1  30.0   31.0000        C
297         0   2.0  151.5500        S
833         0  23.0    7.8542        S

In [14]:
# Import SKlearn Functions
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer , KNNImputer
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

In [10]:
# Split the dataset in to training and testing datasets
X_train , X_test , y_train , y_test = train_test_split(df.drop(columns= ['Survived'] , axis = 1) , df['Survived'] , test_size = 0.2 )

In [ ]:
# Error Because Logistic Regression Does not support Null Values

lr = LogisticRegression()

lr.fit(X_train,y_train)

y_pred = lr.predict(X_test)

accuracy_score(y_test,y_pred)

In [11]:
knn_imputer = KNNImputer(n_neighbors = 3 , weights = 'distance')

In [12]:
X_train_trf = knn_imputer.fit_transform(X_train)
X_test_trf = knn_imputer.transform(X_test)

In [16]:
# Accuracy After Imputing values wuith the help of KNN Imputer 

lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.6536312849162011

In [19]:
# Let's try simple imputer --> Mean , Mode , Median 

si = SimpleImputer()
# By Default Value is mean 
X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [20]:
# Accuracy After Imputing values wuith the help of Simple Imputer 

lr = LogisticRegression()

lr.fit(X_train_trf,y_train)

y_pred = lr.predict(X_test_trf)

accuracy_score(y_test,y_pred)

0.6480446927374302