In [1]:
import pandas as pd  
import numpy as np

In [4]:
df = pd.read_csv('housing.csv', usecols = ['total_bedrooms' ,'population' , 'total_rooms'])

In [10]:
df1 = df.copy()

In [7]:
df.isnull().mean()

total_rooms       0.000000
total_bedrooms    0.010029
population        0.000000
dtype: float64

In [6]:
df.sample(5)

       total_rooms  total_bedrooms  population
5522        1436.0           374.0       662.0
10035       2200.0           439.0      1045.0
7552        1260.0           299.0      1535.0
8746        4177.0           832.0      2123.0
20379       3380.0           731.0      1227.0

# Using Random Values By Pandas This Function is not available in Sklearn

In [ ]:
X_train['Age_imputed'][X_train['Age_imputed'].isnull()] = X_train['Age'].dropna().sample(X_train['Age'].isnull().sum()).values
X_test['Age_imputed'][X_test['Age_imputed'].isnull()] = X_train['Age'].dropna().sample(X_test['Age'].isnull().sum()).values

In [8]:
df['total_bedrooms'][df['total_bedrooms'].isnull()] = df['total_bedrooms'].dropna().sample(df['total_bedrooms'].isnull().sum()).values

C:\Users\BEST LAPTOP\AppData\Local\Temp\ipykernel_12820\72436173.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['total_bedrooms'][df['total_bedrooms'].isnull()] = df['total_bedrooms'].dropna().sample(df['total_bedrooms'].isnull().sum()).values

In [9]:
df.isnull().sum()

total_rooms       0
total_bedrooms    0
population        0
dtype: int64